//  Variables
//  -----------------------------
//
//  Table of Contents:
//
//   1. Font family
//   2. Primary Colors
//   3. Content Colors
//   4. Secondary Colors
//   5. Background Colors
//   6. Status Colors
//   7. Action Colors
//   8. Text Colors
//   9. Border Colors
//   10. Font Size
//   11. Font Weight
//   12. Border radius
//   13. Responsive Size

// 13. Responsive Size
// ---------
$xs: 22.5em; //360px
$sm: 34em; //544px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 80em; //1280px
$xxl: 90em; //1440px
